/**
 * Basic typography style for copy text
 */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: $color-black;
}

.title {
  font-family: 'Unlock', cursive, 'sans-serif';
}
